extends layout

block content
  .main
    .container#changepw
      form
        .form-group
          label(for='email') Email:
          input#email.form-control(type='email', placeholder='Email')
        .form-group
          label(for='old') Old password:
          input#old.password.form-control(type='password', placeholder='Password')
          .form-group
            label(for='new') New password:
            input#new.password.form-control(type='password', placeholder='Password')
        button.btn.btn-success.addItem(type='submit') Change Password
        
block scripts
  script(src="/js/changepw.js")
